/* @import "mixins"; */

@keyframes dice-tumble {
    33% { transform: rotate(6deg); }
    66% { transform: rotate(-6deg); }
}

.scroll {
    font-size: 2em;
    line-height: 1.8em;
    background: url("bg-scroll.jpg") 0 20% no-repeat;
}

.scroll-login {
    margin-top: 6em;
}

.input-text {
    background: transparent;
    border-image: url("input-border.png") 2 0 8 0 round;
    border-bottom-width: 5px;
    padding: 6px 6px 0 6px;
    line-height: 0.66em;
}

.dice {
    position: relative;
    display: inline-block;

    min-width: 150px;

    color: #66c48e;

    height: 80px;
    line-height: 20px;

    &:hover {            
        color: #44ad71;
        cursor: pointer;

        .dice-bg {
            animation-name: dice-tumble;
            animation-duration: 0.3s;
        }
    }

    .dice-bg {
        opacity: 0.6;
        height: 100%; width: 100%;

        background-size: 75px 75px;
        background-position: center;
        background-repeat: no-repeat;

        &.dice-d20 {
            background-image: url("d20.png");
        }
        &.dice-d12 {
            background-image: url("d12.png");
        }
        &.dice-d10 {
            background-image: url("d10.png");
        }
        &.dice-d8 {
            background-image: url("d8.png");
        }
        &.dice-d6 {
            background-image: url("d6.png");
        }
        &.dice-d4 {
            background-image: url("d4.png");
        }
    }  

    .dice-content {
        color: inherit;
        position: absolute;
        width: 100%;
        top: 30px;
        text-shadow: 0px 0px 2px #111, 0px 0px 7px rgba(30,30,30,0.3);
        text-decoration: none;
        text-align: center;
    }

    .dice-content-2 {
        top: 20px;
    }

    .dice-content-3 {
        top: 10px;
    }
}